.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;

  &:not(.notHomeDesktop) {
    justify-content: flex-end;
  }
}

.menu {
  all: unset;
  width: fit-content;
  height: auto;
  background-color: none;
  display: none;
  z-index: 100;
  cursor: pointer;
}

.backButton {
  all: unset;
  width: 50px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  img {
    width: 100px;
  }

  .underline {
    clip-path: inset(0 0 0 100%);
    transition: clip-path 0.3s ease;
  }

  &:hover .underline {
    clip-path: inset(0 0 0 0%);
  }
}

.image {
  width: 42px;
  height: auto;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  padding-top: 25dvh;
  visibility: hidden;
  background-color: #ffffff;
  z-index: 10;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      margin: 20px 0;

      a {
        text-decoration: none;
        font-size: 2rem;
      }
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.notProjects {
  display: none;
}

@media (max-width: 1110px) {
  .menu {
    display: block;
  }

  .h1 {
    display: none;
  }
}

@media (min-width: 1111px) {
  .notHomeDesktop .menu {
    display: block;
  }
}
