.thirds {
  &__first {
    width: 100vw;
    height: 100vh;

    background-color: #fafafa;
    color: #1e1e1e;

    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-end; /* Center vertically */
    align-items: center; /* Center horizontally */
    gap: 20vh;

    padding-bottom: 100px;

    z-index: 0;
    overflow: hidden;
    &__hi {
      font-family: "Tomorrow", serif;
      font-weight: 400;
      font-size: 2rem;
      
    }

    &__name {
      font-family: "Tomorrow", sans-serif;
      font-weight: 600;
      font-size: 10rem;
    }

    &__arrow{
      width: 5vw;
      height: 5vw;
    }
  }

  &__second {
    width: 100vw;
    height: 100vh;

    background-color: #fafafa;
    color: #1e1e1e;

    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */

    z-index: 0;
    overflow: hidden;

    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }
}
