@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

p {
  // <weight>: 400 or 700
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-style: normal;
}

.sora {
  // <weight>: From 100 to 800
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}