.page {
  margin-inline: 20px;
  .home {
    width: 100%;
    height: 100dvh;
    padding-top: 100px;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .intro {
      display: flex;
      flex-direction: column;
      gap: 50px;

      &__titleImage {
        width: 100%;
      }
    }

    .projectMenu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__toggle {
        all: unset;
        font-weight: 100;
        font-size: 8vw;
        cursor: pointer;
      }

      &__dropdown--open {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-weight: 100;
        font-size: 8vw;
      }

      &__dropdown--closed {
        display: none;
      }

      &__link {
        display: flex;
        align-items: center;
        gap: 15px;
        text-decoration: none;
        color: inherit;
      }

      &__linkDot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid black;
      }
    }

    .aboutSection {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;

      &__label {
        // customize
      }

      &__arrow {
        // customize
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .page {
    margin-inline: 50px;

    .home {
      padding-bottom: 5vh;
      padding-top: 100px;

      .intro {
        &__titleImage {
          width: 75%;
        }
      }

      .projectMenu {
        &__toggle {
          font-size: 10vw;
        }

        &__dropdown--open {
          gap: 10px;
          font-size: 6vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 1030px) {
  .page {
    margin-inline: 100px;

    .home {
      padding-top: 70px;

      .intro {
        &__titleImage {
          width: 100%;
        }
      }

      .projectMenu {
        flex-direction: row;

        &__toggle {
          font-size: 5vw;
        }

        &__dropdown--open {
          margin-left: 30px;
          flex-direction: row;
          gap: 30px;
          font-size: 5vw;
        }

        &__link {
          gap: 30px;
        }

        &__linkDot {
          width: 20px;
          height: 20px;
          border: 2px solid black;
        }
      }
    }
  }
}
