.page {
  .home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__hi {
      &__title {
        display:flex;
        flex-direction: row;
        gap: 5px;
      }
    }
    &__about {
      width:100vw;
      display: flex;
      justify-content: center;
      gap: 20px;
      &__text {
      }
      &__arrow {
      }
    }
  }
}
