.page {
  display: flex;
  flex-direction: column;
  font-size: 64px;
}

.mainPage {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;

  .hello {
    display: flex;

    .image {
      width: 100%;
      height: auto;
    }
  }

  .links {
    display: flex;
    gap: 40px;

    .link{
        display: flex;
        flex-direction: column;
        
        .underline {
          clip-path: inset(0 100% 0 0);
          transition: clip-path 0.3s ease;
        }
        
        &:hover .underline {
          clip-path: inset(0 0% 0 0);
        }
    }
  }
}
