@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

.nav {
  font-family: "Syncopate";
  font-weight: 700;
  font-size: 2.5rem;

  display: flex;
  justify-content: space-between;
  padding: 50px 100px 25px 100px;

  white-space: nowrap;

  &__pages {
    display: flex;
    gap: 50px;
  }
}

.main {
  width: calc(100vw - 100px);
  height: calc(100vh - 163px);
  margin: 0 50px 50px 50px;
  box-sizing: border-box;
  border: solid;
  border-width: 4px 4px 4px 4px;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 
    inset -10px 10px 4px rgba(0, 0, 0, 0.25), // Existing top left inset shadow
    0 50px 0 0 #fafafa,
    0 -157px 0 0 #fafafa;
}

.theme {
  position: sticky;
  top: 0; // Keeps the theme at the top of the viewport
  z-index: 10;
}
