@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

.nav {
  font-family: "Syncopate";
  font-weight: 700;
  font-size: 2.5rem;

  display: flex;
  justify-content: space-between;
  padding: 40px 100px 25px 100px;

  white-space: nowrap;

  z-index: 1;

  &__pages {
    display: flex;
    gap: 50px;
  }
}

.main {
  width: calc(100vw - 100px);
  height: calc(100vh - 153px);
  margin: 0 50px 40px 50px;
  box-sizing: border-box;
  border: solid;
  border-width: 4px 4px 4px 0px;
  border-radius: 0 50px 50px 0;
  box-shadow: inset -10px 10px 4px rgba(0, 0, 0, 0.25), 0 50px 0 0 #fafafa,
    0 -200px 0 0 #fafafa;
  z-index: 1;
}

.theme {
  position: sticky;
  top: 0;
}
