.page {
  margin-inline: 20px;
}

.return {
  width: 48px;
  height: 48px;
  background-color: black;
  margin-bottom: 25px;
}

.nav {
  top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  position: sticky;
  background-color: white;
  z-index: 0;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
}

.projectImage {
  display: block;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-bottom: 20px;
}

.projectTitle {
  font-weight: 300;
}

.projectTechnologies {
  font-weight: 200;
}

.projectDescription {
  font-weight: 350;
}

@media only screen and (min-width: 768px) {
  .projectDetails {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
  }
}
